/*=============================================*/
/* common.css */
/*=============================================*/
@import url(reset.css);
@import url(responsive.css);

body{
  font-family: "Mplus 1p";
}
a{
	text-decoration: none;
	-webkit-transition: ease-in 0.2s;
	-moz-transition: ease-in 0.2s;
	transition: ease-in 0.2s;
}
a:hover{color:#fd5959;}

/*---------------------------------------------*/
/* header */
/*---------------------------------------------*/
header{
	width:100%;
	height:4em;
	position: fixed !important;
	position: absolute;
	top:0;
	left:0;
    background: #2e94b9;
    z-index: 999;
}

h1 {
    padding:0.5em 0;
    text-align: center;
    font-size: 2em;
    color: #fff;
}

/*---------------------------------------------*/
/* #wraper */
/*---------------------------------------------*/
#wraper{
	width: 100%;
	height: 1000px;
	overflow: hidden;
	position: absolute;
	top:4em;
	left:0;
}
	/* clear hack */
		#wraper{zoom:1;}
		#wraper:after{content:".";clear:both;height:0;display:block;visibility:hidden;}

/* aside */
aside{
	padding: 2em 1em;
	float:left;
	width: 20%;
	height: 1000px;
	background: #f0b775;
	position: fixed !important;
	position: absolute;
	overflow: visible;
}
aside nav ul{
	margin:0 0 3em;
}

aside nav ul li{
	margin: 0.8em 0;
	display: block;
	text-align: right;
}
aside nav ul li a{color: #fff;}
aside article p {
	margin:0 auto;
	text-align: center;
}
aside article p img{
	width: 100%;
}
/* main */
main{
	float: right;
	width: 80%;
	height: 100%;
}
main article{
	border:solid 1px #ccc;
	-webkit-box-shadow: 2px 2px 4px #ccc;
	-moz-box-shadow: 2px 2px 4px #ccc;
	box-shadow: 2px 2px 4px #ccc;
	margin:1em;
	padding:1em 1em;
}
main article h2{
	font-size:1.2em;
	margin: 0.5em 0;
   	padding: 0.5em;
   	border-left:solid 6px #2e94b9;
}
main article time{
	display: block;
	margin:0 0 0.5em;
	color: #ccc;
	font-size: 0.8em;
}
main article p{
	line-height:1.4em;
}
/*---------------------------------------------*/
/* footer */
/*---------------------------------------------*/
footer{
	width:100%;
	height:5%;
	position: fixed !important;
	position: absolute;
	bottom:0;
	left:0;
    padding:1em 0;
    z-index: 998;
    text-align: center;
    background: #ddeeff;
}
footer small{
	padding:0;
	color:#888;
	font-size:0.9em;
}

/*=============================================*/