/*=============================================*/
/* common.css */
/*=============================================*/
@charset "UTF-8";
@import url(reset.css);
@import url(responsive.css);

body{
  	font-family: "Mplus 1p";
}
a{
	text-decoration: none;
	-webkit-transition: ease-in 0.2s;
	-moz-transition: ease-in 0.2s;
	transition: ease-in 0.2s;
	color:#2e94b9;
}
a:hover{color:#fd5959;}

/*---------------------------------------------*/
/* header */
/*---------------------------------------------*/
header{
	width:100%;
	height:4em;
	position: fixed !important;
	position: absolute;
	top:0;
	left:0;
    background: #2e94b9;
    z-index: 999;
}

h1 {
    padding:0.5em 0;
    text-align: center;
    font-size: 2em;
    color: #fff;
    font-family: 'Meiryo';
}

/*---------------------------------------------*/
/* #wraper */
/*---------------------------------------------*/
#wraper{
	width: 100%;
	height: 100%;
	position: absolute;
	top:4em;
	left:0;
	padding: 0 0 3em;
}
	/* clear hack */
		#wraper{zoom:1;}
		#wraper:after{content:".";clear:both;height:0;display:block;visibility:hidden;}

/*---------- aside ----------*/
aside{
	padding: 2em 1em;
	float:left;
	width: 20%;
	height: 1000px;
	background: #f0b775;
	position: fixed !important;
	position: absolute;
}
aside nav ul{
	margin:0 0 3em;
}

aside nav ul li{
	margin: 0.8em 0;
	display: block;
	text-align: right;
}
aside nav ul li a{color: #fff;}
aside article p {
	margin:0;
	text-align:right;
}
aside article p img{
	width: auto;
	border-radius: 100%;
}

/*---------- main ----------*/
main{
	margin: 0 0 6em;
	float: right;
	width: 80%;
	height: 100%;
}
main article{
	border:solid 1px #ccc;
	-webkit-box-shadow: 2px 2px 4px #ccc;
	-moz-box-shadow: 2px 2px 4px #ccc;
	box-shadow: 2px 2px 4px #ccc;
	margin:1em;
	padding:1em 1em;
}
main article h2{
	font-size:1.2em;
	margin: 0.5em 0;
   	padding: 0.5em;
   	border-left:solid 6px #2e94b9;
}
main article time{
	display: block;
	margin:0 0 0.5em;
	color: #ccc;
	font-size: 0.8em;
}
main article p{
	line-height:1.4em;
	letter-spacing:0.1em;
}
main article dl{
	margin:8px 0;
}
main article dt{
	margin:4px 0;
}
main article dd{
	line-height: 1.2em;
}
main article ul.listLike li{
	color:#666;
	padding:0.2em 0 0.2em 1em;
	font-size:0.9em;
	display:block;
}
main article ul.listLike li:first-child{
	list-style:none;
	color:#333;
	padding:0;
	font-size:1em;
}

/*---------- class="strong01" ----------*/
main article .strong01{
	font-weight: bold;
}
/*---------- class="css3Property" ----------*/
main article .css3Property{
	margin:8px 0 0;
}
main article .css3Property dt{
	color:#8bc34a;
}
main article .css3Property dd{
	text-indent: 1em;
}
main article .colorList{
	margin-left:1em;	
}
main article .colorList li:before{
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background: #f44;
	display: inline-block;
	position: relative;
	top: -3px;
	left: -6px;
}

/*---------- class="cssFont" ----------*/
main article .cssFont{
	font-family: 'Lucida Console';
	color:#4433cc;
	padding:0 0.5em;
}
main article .clearHack{margin-left:1em;}
	/* clear hack */
		main article .clearHack{zoom:1;}
		main article .clearHack:after{content:".";clear:both;height:0;display:block;visibility:hidden;}

/*---------- class="cssImg" ----------*/
main article .cssImg{
	text-align: center;
	float:left;
	width:150px;
	margin:0.5em;
}

main article .cssImg .sepia{
	-webkit-filter:sepia(60%);
	filter:sepia(60%);
}
main article .cssImg .gray{
	-webkit-filter:grayscale(100%);
	filter:grayscale(100%);
}
main article .cssImg .blur{
	-webkit-filter:blur(2px);
	filter:blur(2px);
}
main article .cssImg .brightness{
	-webkit-filter:brightness(1.5);
	filter:brightness(1.5);
}
main article .cssImg .hue{
	-webkit-filter:hue-rotate(90deg);
	filter:hue-rotate(90deg);
}

/*---------- class="colorSame" ----------*/
main article .colorSame{
	color:#F68686;
	border:1px solid;
	width: 200px;
	margin-left: 1em;
}

/*---------- class="program" ----------*/
main article dd.program {
	font-family: 'Lucida Console';
	font-size:0.8em;
	margin:0.8em 0 0.8em 1em;
	padding:0.5em;
	background:#eee;
}

/*---------- input ----------*/
main article input{
	margin:0.3em 1em;
}
main article input[type="text"]{
	width:100px;
	padding: 5px;
}
main article .expand-box{
	transition: width .3s;
}
main article .expand-box:focus{
	width: 200px;
}

/*---------------------------------------------*/
/* footer */
/*---------------------------------------------*/
footer{
	width:100%;
	height:5%;
	position: fixed !important;
	position: absolute;
	bottom:0;
	left:0;
    padding:1%;
    z-index: 998;
    text-align: center;
    background: #ddeeff;
    overflow-y:hidden;
}
footer small{
	padding:0;
	color:#888;
	font-size:0.9em;
}

/*=============================================*/