/*=============================================*/
/* responsive.css */
/*=============================================*/
@charset "UTF-8";

/*---------------------------------------------*/
/* スマホに適応 */
/*---------------------------------------------*/
@media screen and ( max-width: 479px ) {
	h1{
		font-size:1em;
	}
	main{
		float: none;
		display: block;
		width: 100%;
	}
	
	aside{
		float: none;
		display: block;
		width: 100%;
	}

	nav ul{}
		/* clear hack */
		nav ul{zoom:1;}
		nav ul:after{content:".";clear:both;height:0;display:block;visibility:hidden;}
	
	nav li{
		float:left;
		width: auto;
	}
	aside article{visibility:hidden}
}